# Ignore node_modules (since we install dependencies inside the container)
node_modules

# Ignore build directories
.next
out

# Ignore Dockerfile and docker-compose if not needed in production image
Dockerfile
docker-compose.yml

# Ignore environment files
.env.local
.env.development
.env.production
.env.test

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore Git related files
.git
.gitignore

# Ignore IDE/editor files
.vscode
.idea
*.sublime-workspace
*.sublime-project

# Ignore test coverage
coverage
